<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>501826316753-rn3caq3gbbops641uj99rm3j7so8piiu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.501826316753-rn3caq3gbbops641uj99rm3j7so8piiu</string>
	<key>API_KEY</key>
	<string>AIzaSyCU-XE2uyrBnm8tWGhgM56NmWY8hTkW8r0</string>
	<key>GCM_SENDER_ID</key>
	<string>501826316753</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaselist</string>
	<key>PROJECT_ID</key>
	<string>tasks-b5543</string>
	<key>STORAGE_BUCKET</key>
	<string>tasks-b5543.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:501826316753:ios:b6508064a1f09b4b1e58f0</string>
</dict>
</plist>